.header {
  background-image: url(../img/main.png);
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1920px;
  margin: 0 auto;
  border-radius: 0px 0px clamp(40px, 8vw, 100px) clamp(40px, 8vw, 100px);
  position: relative;
  padding-top: 40px;
  .location {
    display: flex;
    gap: 20px;
    align-items: start;
    font-size: 20px;
    line-height: 30px;
  }

  .button-orange {
    display: none;
  }
}

.header-main {
  padding-top: 312px;
  display: flex;
  align-items: center;
  flex-direction: column;
  
  padding-bottom: 240px;
}

.logo-img {
  margin-bottom: 31px;
}

.header-top {

  display: flex;
  justify-content: space-between;
}

.header-right-menu,
.header-right {
  display: flex;
  align-items: center;
  gap: 70px;

  .header-contacts {
    display: flex;
    gap: 30px;
    align-items: center;
    a img {
      width: 32px;
      height: 32px;
    }
    .header-links {
      font-size: 24px;
      line-height: 22px;
      font-weight: 700;
    }
  }
}

.header-left {
  display: flex;
  align-items: center;
  gap: 50px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0px 0px 40px 40px;
  padding: 36px 55px 49px 90px;
  background-color: $green-color;

  &__item {
    display: flex;
    gap: 57px;
    margin-left: 56px;
  }

  &__link {
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    text-transform: uppercase;
  }

  .logo-img {
    display: none;
  }
}

.menu-btn {
  width: 48px;
  height: 33px;
  position: relative;
  span {
    content: "";
    display: inline-block;
    width: 100%;
    height: 3px;
    background-color: #f9d577;

    position: absolute;
    top: 0px;
  }
  span::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 3px;
    position: absolute;
    background-color: #f9d577;
    top: 12px;
  }
  span::before {
    position: absolute;
    top: 26px;
    content: "";
    display: inline-block;
    width: 100%;
    background-color: #f9d577;
    height: 3px;
  }
}

.menu-btn.active span {
  background: none;
}

.menu-btn.active span::after {
  transform: rotate(-45deg);
  top: 15px;
}

.menu-btn.active span::before {
  transform: rotate(45deg);
  top: 15px;
}

[data-burger] {
  display: inline-block;
  position: relative;
  width: 48px;
  height: 33px;
  z-index: 1000;
  cursor: pointer;
}

[data-menu] {
  position: fixed;
  top: -100%;
  z-index: 15;
  right: 0;
  left: 0;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  height: 150px;
  background-color: $green-color;
  transition: right 0.4s ease 0s, visibility 0.4s ease 0s;
  overflow: auto;
  visibility: hidden;
  
  &.active {
    top: 0;
    visibility: visible;
  }
}

@media (max-width: 1800px) {
  .menu__item {
    gap: 30px;
  }
  .header-right {
    gap: 50px;
  }
}

@media (max-width: 1700px) {
  .header {
    padding-top: 30px;
  }
  .header-top {
    gap: 100px;
 
    justify-content: start;
  }

  .header {
    position: relative;
    border-radius: 0px 0px 60px 60px;

    .header-right-menu .button {
      width: 272px;
      height: 80px;
      border-radius: 46px;
      font-size: 18px;
    }
  }
  .header-right-menu .header-contacts .header-links {
    font-size: 30px;
  }
  .header-left {
    flex-direction: row-reverse;
    gap: clamp(250px, 50vw, 950px);
  }

  .header-right-menu {
    gap: 60px;
    flex-direction: column;
    .header-contacts {
      gap: 17px;
    }
  }

  .menu {
    padding: 47px 10px 167px;
    flex-direction: column;
    border-radius: 0px;
    justify-content: start;
    gap: 50px;

    .logo-img {
      display: inline-block;
      width: 225px;
      height: 59px;
      margin-bottom: 0px;
      align-self: start;
      padding-left: 20px;
    }
    &__link {
      font-size: 24px;
    }
    &__item {
      align-items: center;
      margin-left: 17px;
      gap: 32px;
      margin-bottom: 7px;
    }
  }
  [data-menu] {
    width: 380px;
    height: 850px;
    margin: 0;
    left: auto;
    top: 0;
    right: -100%;
    &.active {
      right: 0;
      visibility: visible;
    }
    .header-right {
      flex-direction: column;
    }
  }

  [data-burger] {
    right: 50px;
    top: 43px;
    position: absolute;
    width: 40px;
  }
  .menu__item {
    flex-direction: column;
  }
}

@media screen and (max-width: 1400px) {
  .header {padding-top: 40px;}
  .header-top {

    gap: clamp(100px, 10vw, 300px);
    .header-right {
      .button {
        display: none;
      }
    }
  }

  .header-main {
    .button-orange {
      display: block;
      width: 271px;
      height: 81px;
      font-family: "Open Sans";
      font-size: 16px;
      line-height: 20px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      color: #000000;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 50px;
      background-color: $gold-color;
      transition: all 0.6s;
      margin-top: 40px;
      &:hover {
        cursor: pointer;
        background-color: #f98d00;
        color: #ffffff;
      }
    }
  }

}


@media screen and (max-width: 1200px) {
  .header-main {
    padding-top: 200px;
  }
  .header-top {
    align-items: center;
    flex-direction: column-reverse;
    gap: 76px;
    .header-contacts .header-links {
      font-size: 24px;
    }
  }
}


@media screen and (max-width: 768px) {

  .header-main {
    padding-top: 160px;
  }
  .header {
    opacity: 0.8;
    .location {
      font-size: 16px;

    }
  }

  .header-top {
    align-items: start;
  }

  [data-burger] {
   right: 20px;
  }
}



@media screen and (max-width: 525px) {
 
}