.modal-body {
  width: 490px;
  height: 621px;
  background-color: #ffffff;
  box-shadow: 5px 9px 47px 3px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 58px 29px 50px 29px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h4 {
    font-family: "Open Sans";
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
    text-transform: uppercase;
    color: #000000;
    padding-bottom: 13px;
    text-align: center;
  }


  .close {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .form-text {
    font-family: "Open Sans";
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
    width: 284px;
    padding-bottom: 8px;
  }

  label {
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #969696;
    padding-bottom: 12px;
    padding-top: 12px;
  }

  .input-btn {
    width: 345px;
    height: 74px;
    border-radius: 37px;

    font-size: 24px;
    line-height: 24px;
    color: #000000;
    padding: 27px 50px 27px 113px;
    background-color: #fafafa;
    transition: all 0.6s;
    &:hover {
      cursor: pointer;
    }
  }

  .input-tel {
    padding-left: 68px;
    padding-right: 20px;
    margin-bottom: 20px;
  }


  .input-btn::placeholder {
    font-size: 24px;
    line-height: 24px;
    color: #000000;
  }

  .input-btn:first-child::placeholder{
    padding-left: 20px;
  }
  .button-orange {
    width: 350px;
    height: 83px;
    border-radius: 41px;
  }

  label[for="personal-data-2"] {
    font-size: 13px;padding-top: 25px;
    input[type="checkbox"] {
      width: 18px;
      height: 18px;
      margin-right: 5px;
      
    }
  }
}
