.modal {
  --transition-time: 0.3s;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background-color: rgba(#2c4b47, 0.5);
  cursor: pointer;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity var(--transition-time), visibility var(--transition-time);
}

.modal::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.modal__container {
  position: relative;
  display: none;
  vertical-align: middle;
  background-color: #fff;
  border-radius: 20px;
  background: var(--Main-White, #fff);
  /* Shadow */
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
  cursor: default;
  text-align: left;
}

.modal.is-open {
  opacity: 1;
  visibility: visible;
  transition: opacity var(--transition-time), visibility var(--transition-time);
}

.modal__container.modal-open {
  display: inline-block;
}

.fade {
  opacity: 0;
  transition: opacity var(--transition-time);
}

.fade.animate-open {
  opacity: 1;
  transition: opacity var(--transition-time);
}

.fadeInUp {
  opacity: 0;
  transform: translateY(-100px);
  transition: opacity var(--transition-time), transform var(--transition-time);
}

.fadeInUp.animate-open {
  opacity: 1;
  transform: translateY(0);
  transition: opacity var(--transition-time), transform var(--transition-time);
}

.disable-scroll {
  position: relative;
  overflow: hidden;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.modal-body {
  display: none;
  vertical-align: middle;

  cursor: default;
  text-align: left;
  width: 490px;
  height: 621px;

  box-shadow: 5px 9px 47px 3px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 58px 29px 50px 29px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;

  .bnt-checkbox {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    label {
      width: 19px;
      height: 19px;
    }
    span {
      font-family: "Open Sans";
      font-size: 12.5px;
      line-height: 24px;
      font-weight: 400;
      color: #969696;
      text-decoration: none;

      a {
        text-decoration: underline;
        color: #6cc4ff;
      }
    }
  }




  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h4 {
    font-family: "Open Sans";
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
    text-transform: uppercase;
    color: #000000;
    padding-bottom: 13px;
    text-align: center;
  }

  .close {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #fff;
  }

  .form-text {
    font-family: "Open Sans";
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
    width: 284px;
    padding-bottom: 8px;
  }

  label {
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #969696;
    padding-bottom: 12px;
    padding-top: 12px;
  }

  .input-btn {
    width: 345px;
    height: 74px;
    border-radius: 37px;
    font-size: 24px;
    line-height: 24px;
    color: #000000;
    padding: 27px 50px 27px 113px;
    background-color: #fff9e9;
    transition: all 0.6s;
    &:hover {
      cursor: pointer;
    }
  }

  .input-tel {
    padding-left: 68px;
    padding-right: 20px;
    margin-bottom: 20px;
  }

  .input-btn::placeholder {
    font-size: 24px;
    line-height: 24px;
    color: #000000;
  }

  .input-btn:first-child::placeholder {
    padding-left: 20px;
  }
  .button-orange {
    width: 350px;
    height: 83px;
    border-radius: 41px;
  }
}

.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  font-size: 13px;
}
.checkbox + label::before {
  content: "";
  display: inline-block;
  width: 19px;
  height: 19px;
  flex-shrink: 0;
  flex-grow: 0;
  border-radius: 5px;
  border: 1px solid #c8c8c8;
  background: #fff;
  cursor: pointer;
}

.checkbox:checked + label::before {
  cursor: pointer;
  background: #c8c8c8;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  background-image: url(../img/icons/checkbox_ok.svg);
}

.close:hover {
  cursor: pointer;
}



@media screen and (max-width: 525px) {
  .modal__container {
   width: 380px;
   .modal-body {
    padding: 35px 15px;
    width: 380px;
    .input-btn {
      width: 300px;
      height: 60px;
      padding: 27px 50px 27px 45px;
    }
    .button-orange {
      width: 300px;
      height: 60px;
    }
   }
  }
 }

 
@media screen and (max-width: 382px) {
  .modal__container {
    h4 {
      font-size: 20px;
    }
   width: 350px;
   .modal-body {
    padding: 20px 10px;
    width: 350px;
    .input-btn {
      width: 300px;
      height: 60px;
      padding: 27px 50px 27px 45px;
    }
    .button-orange {
      width: 300px;
      height: 60px;
    }
   }
  }
 }